body {
  background: rgb(252, 235, 219);
  background: linear-gradient(180deg, rgba(252, 235, 219, 1) 22%, rgba(239, 234, 230, 1) 100%);
  opacity: 100%;
  margin: 50px 50px 50px 50px;
  /* margin: 100px; */
  /* margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 50px; */
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  letter-spacing: 10px;
  text-align: right;
  padding-top: 100px;
  padding-right: 50px;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 64px;
  letter-spacing: 5px;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  letter-spacing: 5px;
}

h4 {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  letter-spacing: 5px;
}

h5 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  letter-spacing: 5px;
  /* margin-top: 50px;
  margin-right: 100px; */
}

h6 {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  letter-spacing: 5px;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: normal;
  /* padding-left: 100px;
  padding-right: 100px; */
}

/* .alignleft {
  float: left;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  letter-spacing: 5px;
  margin-top: 20px;
}

.alighright {
  float: right;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  letter-spacing: 5px;
  margin-right: 125px;
  margin-top: 20px;
  margin-bottom: 10px; */
}

.active {
  text-decoration: none;
  float: left;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  letter-spacing: 5px;
  border-bottom: 100px;
  margin-left: 5px;
  margin-right: 5px;
  /* text-align: right; */
  /* padding-top: 25px; */
  /* padding-right: 100px; */
}

/* a:link {
  text-decoration-color: black;
} */
/* .topnav a:hover {
  background-color: rgba(229,229,229, 1);
}

.topnav a.active {
  background-color: rgba(252,236,221, 1);
  color: rgba(229,229,229, 1) */
/* } */
.topnav-right a {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  letter-spacing: 5px;
  padding: 14px 16px;
  margin-right: 50px;
  border-right: 2px, Black;
  float: right;
}

.nav_bar {
  text-decoration: none;
  /* font-family: 'EB Garamond', serif;
  font-size: 16px;
  letter-spacing: 5px;
  padding: 14px 16px;
  margin-right: 3px; */
  border-right-style: : solid;
  border-color: black;
  border-width: thin;
}

.container {
  max-width: 100%;
  height: 500px;
  /* max-width: 860px;
  margin-right: auto; */
  /* margin: 0px 50px 50px 50px; */
}

.image_fix {
  float: left;
  width: 60%;
  margin: 0 5%;
  z-index: 0;
}

.content {
  float: left;
  z-index: 1;
  background: rgba(252, 236, 221, 0.75);
  /* max-width: 300px;
  max-height: 100px;
  padding: 20px 100px 20px 20px;
  /* height: 400px; */
  /* margin-left: 400px;
  overflow: auto;  */
  width: 20%;
  height: 100%;
  margin: 0 5%;
  overflow: scroll;
}

/* #header {
  margin-right: 5px;
  margin-left: 5px;
  text-align: right;
}

#home {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: left;
  padding-top: 50px;
} */
li {
  list-style-type: circle;
  list-style-position: inside;
  text-indent: -1.5em;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.column {
  float: left;
  width: 33.33%;
  margin-top: 5px;
  margin-bottom: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
