body {
  background: rgb(252, 235, 219);
  background: linear-gradient(180deg, rgba(252, 235, 219, 1) 22%, rgba(239, 234, 230, 1) 100%);
  opacity: 100%;
  margin: 50px 50px 50px 50px;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  letter-spacing: 10px;
  text-align: right;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-right: 50px;
  text-decoration: underline;
  text-decoration-color: white;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 64px;
  letter-spacing: 5px;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  letter-spacing: 5px;
}

h4 {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  letter-spacing: 5px;
}

h5 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

h6 {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  letter-spacing: 5px;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: normal;
}

.column {
  float: left;
  width: 25%;
  maring-left: 50px;
  column-fill: balance;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

a:link {
  text-decoration: none;
  color: rgba(108, 69, 69, 1);
}

a:visited {
  text-decoration: none;
  color: rgba(108, 69, 69, 1);
}

a:active {
  text-decoration: none;
  color: rgba(108, 69, 69, 1);
}

#buy {
  display: block;
  background-color: rgba(196, 196, 196, 1);
  border: none;
  padding: 2px 35px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: normal;
  margin: 5px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#buy:hover {
  background-color: white;
  color: grey;
}

.topnav a {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: right;
  text-decoration: none;
  color: black;
  padding-top: 25px;
  padding-left: 50px;
  float: left;
}

.topnav-right a {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  letter-spacing: 5px;
  text-align: left;
  text-decoration: none;
  color: black;
  padding-top: 35px;
  margin-right: 50px;
  float: right;
}
